{% extends 'RSantellanSitioBundle:Admin:layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/datatable/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/datatable/simpleStartTable.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/datatable/jquery.dataTables.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/datatable/data_table_admin.css') }}" />
{% endblock %}
{% block body -%}
    <h1>ComplexTag list</h1>

    <table class="records_list" id="table_data">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Orden</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_blocktags_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.orden }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_blocktags_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_blocktags_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <ul>
        <li>
            <a href="{{ path('admin_blocktags_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
