<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Rodrigo Santellan{% endblock %}</title>
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/rsantellansitio/images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('bundles/rsantellansitio/images/apple-touch-icon.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/rsantellansitio/images/apple-touch-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/rsantellansitio/images/apple-touch-icon-114x114.png') }}">
    
    <!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS -->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rsantellansitio/css/base.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rsantellansitio/css/skeleton.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rsantellansitio/css/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rsantellansitio/css/camera.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rsantellansitio/css/mediaelementplayer.min.css') }}" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>	
    
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/superfish.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/scrolltopcontrol.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/jquery.mobile.customized.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/startSuperfish.js') }}"></script>
    
    {#
    <!--
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/jcarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rsantellansitio/js/scrolltopcontrol.js') }}"></script>
    -->
    #}
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </head>
  <body>

    {{ include('RSantellanSitioBundle:Default:menu.html.twig') }}
    
    {% block body %}

    {% endblock %}
      	<!-- START FOOTER -->
	<div id="footer">
		<div class="btop-1px"></div>
		<div class="container">
			<div class="four columns copyright">
				<img src="{{ asset('bundles/rsantellansitio/images/logo.png') }}" alt="{% trans %}rsantellan_site_menu_logo{% endtrans %}" />
			</div><!-- .copyright -->
			<div class="twelve columns">
				<div id="secondary-nav" class="clearfix">
					<ul class="clearfix">
						<li><a href="{{ path('r_santellan_sitio_homepage')}}">{% trans %}rsantellan_site_menu_home{% endtrans %}</a></li>
                        <li><a href="{{ path('rsantellan_sitio_projects')}}">{% trans %}rsantellan_site_menu_projects{% endtrans %}</a></li>
						<li><a href="{{ path('rsantellan_sitio_aboutme') }}">{% trans %}rsantellan_site_menu_about{% endtrans %}</a></li>
						<li><a href="{{ path('rsantellan_sitio_contact') }}">{% trans %}rsantellan_site_menu_contact{% endtrans %}</a></li>
					</ul>
					<div class="gray-dash-3px"></div>
				</div><!-- #secondary-nav -->
				<ul id="footer-social">
	    			<!-- <li class="twitter"><a href="http://twitter.com"></a></li> -->
	    			<!-- <li class="dribbble"><a href="http://dribbble.com"></a></li> -->
	    			<!-- <li class="facebook"><a href="http://facebook.com"></a></li> -->
	    			<!-- <li class="google"><a href="http://plus.google.com"></a></li> -->
	    			<li class="linkedin"><a href="http://uy.linkedin.com/pub/rodrigo-santellan/56/195/a3a/"></a></li>
	    			<!-- <li class="behance"><a href="http://behance.net"></a></li> -->
	    			<!-- <li class="rss"><a href="#"></a></li> -->
	    		</ul><!-- footer-social -->
			</div><!-- twelve columns -->
		</div><!-- container -->
	</div><!-- #footer -->
	<!-- END FOOTER -->
    
  </body>
</html>
