{% for album in albums%}


<h3>{{ album.name }}</h3>
<a href="{{ path('maith_admin_media_upload', {'id': album.id})}}">Subir nuevas</a>
<h5>Datos</h5>
<ul>
{% for file in album.files%}
    <li>{{ file.id }} - {{ file.name }}
      {{ file.sfPath ~ '/' ~ file.name}}
        <br/>
        {{ 50 | mPrice }} 
        <br/>
        {{ 50 | mImage }} 
        {# <img src="{{ asset( file.sfPath ~ '/' ~ file.name)}}" width="50" height="50" />  #}
    </li>
{% endfor %}
</ul>
{% endfor %}