{% extends 'MaithPumpMyGasBundle::layout.html.twig' %}

{% block pagestylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/maithpumpmygas/vendor/chosen/chosen.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/maithpumpmygas/vendor/datatables/jquery.dataTables.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/maithpumpmygas/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/maithpumpmygas/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('bundles/maithpumpmygas/js/datatables.js') }}"></script>
{% endblock %}


{% block body -%}
<section class="panel">
  <header class="panel-heading">{% trans %}brand_title{% endtrans %}</header>
  <div class="panel-body">
	<div class="table-responsive no-border">
	  <table class="table table-bordered table-striped mg-t datatable">
		<thead>
		  <tr>
			<th>{% trans %}brand_name{% endtrans %}</th>
			<th>{% trans %}brand_actions{% endtrans %}</th>
		  </tr>
		</thead>
		<tfoot>
		  <tr>
			<th>{% trans %}brand_name{% endtrans %}</th>
			<th>{% trans %}brand_actions{% endtrans %}</th>
		  </tr>
		</tfoot>
		<tbody>
		{% for entity in entities %}
			<tr>
			  <td>{{ entity.name }}</td>
			  <td>
				  <a href="{{ path('admin_pump_brand_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                  <a href="{{ path('admin_pump_brand_show', { 'id': entity.id }) }}"><i class="fa fa-institution fa-2x"></i></a>
			  </td>
			</tr>
        {% endfor %}		  
		  </tbody>
		</table>
	  </div>
	</div>
  </section>
  
<div class="row">
  <div class="col-lg-12 text-center">
	  <a href="{{ path('admin_pump_brand_new') }}" class="btn btn-info">
		  {% trans %}brand_create{% endtrans %}
	  </a>
  </div>
</div>

{% endblock %}
