{% extends 'RSantellanSitioBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>    
  <script type="text/javascript" src="{{ asset('bundles/maithcommonimage/js/imagesManager.js') }}"></script>    
{% endblock %}

{% block body -%}
    <h1>Project edit</h1>

    <form action="{{ path('rsproject_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    
    {{ render(controller('MaithCommonAdminBundle:Albums:albumsData', {'id': edit_form.vars.value.id, 'objectclass' : edit_form.vars.value.fullClassName }))}}
    <hr/>
    
    <ul class="record_actions">
      <li>
          <a href="{{ path('rsproject') }}">
              Back to the list
          </a>
      </li>
      <li>
          <form action="{{ path('rsproject_delete', { 'id': entity.id }) }}" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              {{ form_widget(delete_form) }}
              <button type="submit">Delete</button>
          </form>
      </li>
    </ul>
{% endblock %}
