{% extends 'RSantellanSitioBundle:Admin:layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/datatable/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/datatable/simpleStartTable.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/datatable/jquery.dataTables.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/datatable/data_table_admin.css') }}" />
{% endblock %}
{% block body -%}
    <h1>Project list</h1>

    <table class="records_list" id="table_data">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Cliente</th>
                <th>Tipo_de_trabajo</th>
                <th>Description</th>
                <th>Orden</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                  <a href="{{ path('rsproject_show', { 'id': entity.id }) }}">
                    <img alt="{{ entity.name[:45] }}" src="{{ entity.id | mAvatar(entity.fullClassName, 'main') | mImage(60, 60, 'rce') }}" />
                  </a>
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.cliente }}</td>
                <td>{{ entity.tipodetrabajo }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.orden }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('rsproject_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>
    
    <ul>
        <li>
            <a href="{{ path('rsproject_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
