<li><div class="four columns">
    <div class="stack">
      <div class="title"><a href="{{ path('rsantellan_sitio_projects_show', {'slug': project.slug})}}">{{ project.name }}</a></div>
      <div class="cta-arrow">
        <a class="bg-arrow" href="{{ path('rsantellan_sitio_projects_show', {'slug': project.slug})}}">
          <img src="{{ asset('bundles/rsantellansitio/images/icons/pixel-arrow-right.png') }}" alt="" />
        </a>
        <span class="rd-arrow"></span>
      </div><!-- .cta-arrow -->
    </div><!-- stack -->
    <div class="block">
      <img alt="{{ project.name[:45] }}" src="{{ project.id | mAvatar(project.fullClassName, 'main', true) | mImage(283, 262, 'rce') }}" />
    </div><!-- block -->  
  </div><!-- .four  -->
</li>

