{% set gridClass = 'col-md-12' %}
{% set open = 'false' %}
{% for file in files%}
  {% if loop.first or loop.index is divisibleby(4)%}
  <div class="row show-grid">
  {% set open = 'true' %}  
  {% endif %}
    <div class="{{gridClass}}" id="file_container_{{file.id}}">
      <div class="img_thumb_container">
        <div class="img_edit">
          <a class="edit_file_link" href="{{ path('maith_admin_media_show_file', { 'id' : file.id }) }}">
            {% trans %}maith_images_admin_edit{% endtrans %}
          </a>
        </div>
        <img alt="{{ file.showName }}" src="{{ file.fullPath | mImage(150, 150, 'rcce') }}" />
        <div class="img_delete">
          <a onclick="imagesManager.getInstance().removeImage('{{ path('maith_admin_media_remove', {'id': file.id})}}', '{% trans %}maith_images_admin_delete_confirmation{% endtrans %}', {{ file.id }});" href="javascript:void(0)" class="">
            <img src="{{ asset('bundles/maithcommonimage/images/delete.png') }}" />
          </a>
        </div>
      </div>
    </div>
   {% set gridClass = 'col-md-3' %}  
   {% if loop.first or loop.index is divisibleby(4)%}
      </div>
      {% set open = 'false' %}
  {% endif %}
{% endfor %}
{% if open == 'true' %}
  </div>
{% endif %}