<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% trans %}admin_translator_page_title{% endtrans %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/maithcommonadmin/images/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colour.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommontranslator/css/translations.css') }}" />
            
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery-1.10.1.min.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery-migrate-1.2.1.js') }}"></script>
    
    {# Incluiding tinymce #}
    
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/tinymce/tinymce.min.js') }}"></script>
    {# En caso de que no sea ingles incluir el idioma del tiny #}
    {% if app.request.locale != 'en' %}
      <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/tinymce/langs/'~app.request.locale~'.js') }}"></script>
    {% endif %}
    
    {# Incluiding noty #}
    
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/noty/jquery.noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/noty/layouts/center.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/noty/themes/default.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/maithcommontranslator/js/translatorManager.js') }}"></script>
  </head>
  <body>
    <div class="translator_left_side">
      <div class="translator_actions">
          <a href="{{ path("maith_admin_homepage") }}">{% trans %}admin_translator_go_back{% endtrans %}</a>
          <div class="clear"></div>
          <input type="button" value="{% trans %}admin_translator_dochanges{% endtrans %}" onclick="return translatorManager.getInstance().doChanges('{{ path('maith_common_translator_clear_cache')}}');" />
        </div>
      <div class="clear"></div>
      <div class="bundles_container">
        <form action="{{ path("maith_common_translator_get_tranlations")}}" method="get" onsubmit="return translatorManager.getInstance().sendGetTranslations(this);">
              <select id="bundles" name="bundle">
              {% for bundle in bundles %}
                  <option value="{{ bundle }}">{{bundle}}</option>
              {% endfor %}
              </select>
              <div class="clear"></div>
              <select id="langs" name="lang">
              {% for lang in langs %}
                  <option value="{{ lang }}">{{lang}}</option>
              {% endfor %}
              </select>
          <input type="submit" value="{% trans %}admin_translator_search{% endtrans %}" />
        </form>
      </div>
      <div class='bundles_container_error' id='bundles_container_error'>
      </div>
    </div>
    <div class="translator_right_side">
      <div id="bundles_texts_container" class="bundles_texts_container">
    </div>
    </div>
  </body>
</html>
