{% extends 'LoopitaMetalizadoraBundle:Admin:layout.html.twig' %}
{% block title %}{% trans %}metalizadora_admin_categories_list{% endtrans %}{% endblock %}
{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="flash-notice">
    {{ flashMessage }}
  </div>
{% endfor %}


<table>
  <tr>
  {# sorting of properties based on query components #}
      <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
      <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}</th>
      <th>Acciones</th>
  </tr>

  {# table body #}
  {% for category in pagination %}
  <tr {% if loop.index is odd %}class="color"{% endif %}>
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
        <a href="{{ path('loopita_metalizadora_category_edit', {'id': category.id}) }}">{% trans %}metalizadora_admin_categories_edit{% endtrans %}</a>
        <a href="{{ path('loopita_metalizadora_category_delete', {'id': category.id}) }}">{% trans %}metalizadora_admin_categories_delete{% endtrans %}</a>
      </td>
  </tr>
  {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{# display create new #}
<div class="new_link_container">
  <a href="{{ path("loopita_metalizadora_category_new") }}">{% trans %}metalizadora_admin_new_link{% endtrans %}</a>
</div>

{% endblock %}
