{% extends 'LoopitaMetalizadoraBundle:Admin:layout.html.twig' %}
{% block title %}{% trans %}metalizadora_admin_projects_edit{% endtrans %}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>    
  <script type="text/javascript" src="{{ asset('bundles/maithcommonimage/js/imagesManager.js') }}"></script>    
{% endblock %}
{% block body %}
  <h3>{% trans %}metalizadora_admin_projects_edit_title{% endtrans %}</h3>  

  {% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="flash-notice">
    {{ flashMessage }}
  </div>
  {% endfor %}
  {{ include('LoopitaMetalizadoraBundle:Admin:projectForm.html.twig', {'form': form, 'action_url': path('loopita_metalizadora_project_edit', {'id': form.vars.value.id}) }) }}
  
  
  {{ render(controller('MaithCommonAdminBundle:Albums:albumsData', {'id': form.vars.value.id, 'objectclass' : form.vars.value.fullClassName }))}}
  
  {{ form.vars.value.id }}
  {{ form.vars.value.fullClassName }}
  
  
<div class="new_link_container">
  <a href="{{ path("loopita_metalizadora_projects") }}">{% trans %}metalizadora_admin_list{% endtrans %}</a>
</div>

{% endblock %}
