{% extends 'MaithCommonAdminBundle::bootstrap-layout.html.twig' %}

{% block body -%}
  <h3>{{ folder['name'] }}</h3>
  
  <table>
    <thead>
      <tr>
        <th>Desde</th>
        <th>Asunto</th>
        <th>Recibido</th>
        <th>Adjuntos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr class="{% if message.seen %} seenmessage {% else %} unseenmessage {% endif %}">
          <td>
            {% for fromData in message.from %}
              {% if fromData['name'] is defined%}
                {{ fromData['name'] }}
              {% else %}
                {{ fromData['address'] }}
              {% endif %}
              {#{ dump(fromData) }#}
            {% endfor %}
          </td>
          <td>{#{ message.subject }#}- {{ message.decodedSubject }}</td>
          <td>{{ message.date |date('Y-m-d H:i:s') }}</td>
          <td>{% if message.hasAttachments %} Si {% endif %}</td>
          <td>
            <a href="{{ path('maith_common_mailbox_view_message', { 'folderId': folder.id, 'uid' : message.uid }) }}">Ver</a>
          </td>
        </tr>  
        {% endfor %}
      </tbody>
  </table>


{% endblock %}