{% extends 'RSantellanSitioBundle:Admin:layout.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editar categoria</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-10">
	  <form action="{{ path('category_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		  <input type="hidden" name="_method" value="PUT" />
		  <div class="form-group {% if edit_form.name.vars.errors|length %}has-error{% endif %}">
			  {{ form_label(edit_form.name) }}
			  {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
			  <p class="help-block">{{ form_errors(edit_form.name) }}</p>
		  </div>
			{#{ form_widget(form) }#}

			{{ form_errors(edit_form) }}
			{{ form_rest(edit_form) }}
		  <div class="form-group">
			  <input type="submit" class="btn btn-default" value="Crear"/>
		  </div>
	  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="row">
	<div class="col-lg-6">
	  <a class="btn btn-info" href="{{ path('category') }}">Back to the list</a>
	</div>
	  
	  <div class="col-lg-6">
		<form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
	  </div>
  </div>
{% endblock %}
