{% extends 'RSantellanSitioBundle:Admin:layout.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Categoria</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ entity.orden }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
        </table>
        </div>
        <!-- /.table-responsive -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
	<a class="btn btn-info" href="{{ path('category') }}">Back to the list</a>
	<a class="btn btn-info" href="{{ path('category_edit', { 'id': entity.id }) }}">Edit</a>
  </div>
</div>
<div class="clear"></div>
<div class="row">
  <div class="col-lg-6">
	<form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
		<input type="hidden" name="_method" value="DELETE" />
		{{ form_widget(delete_form) }}
		<button class="btn btn-danger" type="submit">Delete</button>
	</form>
  </div>
</div>
{% endblock %}
