{% extends 'LoopitaMetalizadoraBundle::layout.html.twig' %}
{% block menu_inicio_class %}current{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/loopitametalizadora/css/global.css') }}" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/loopitametalizadora/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/loopitametalizadora/js/slides.min.jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/loopitametalizadora/js/index_slider.js') }}"></script>
{% endblock %}
{% block body %}
<div id="slider">
  <div id="example">
    <div id="slides">
      <div class="slides_container">
        <div class="slide">
          <img src="{{ asset('bundles/loopitametalizadora/images/slide1.jpg') }}" width="1000" height="375">
          <div class="caption" style="bottom:0">
            <p>Planta La Teja  - Preparaci&oacute;n de superficie y pintura de tanques</p>
          </div>
        </div>
        <div class="slide">
          <img src="{{ asset('bundles/loopitametalizadora/images/slide2.jpg') }}" width="1000" height="375">
          <div class="caption">
            <p>Puente de Las Am&eacute;ricas - Fabricaci&oacute;n y pintura de la dovela central </p>
          </div>
        </div>
        <div class="slide">
          <img src="{{ asset('bundles/loopitametalizadora/images/slide3.jpg') }}" width="1000" height="375">
          <div class="caption">
            <p>Boyas Armada Nacional</p>
          </div>
        </div>
        <div class="slide">
          <img src="{{ asset('bundles/loopitametalizadora/images/slide4.jpg') }}" width="1000" height="375">
          <div class="caption">
            <p>Edificio Torre del Sur</p>
          </div>
        </div>
        <div class="slide">
          <img src="{{ asset('bundles/loopitametalizadora/images/slide5.jpg') }}" width="1000" height="375">
          <div class="caption">
            <p>Faro de Jos&eacute; Ignacio</p>
          </div>
        </div>
      </div>
      <!--<a href="#" class="prev"><img src="images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
      <a href="#" class="next"><img src="images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>-->
    </div>
  </div>
</div><!--SLIDER-->
<input type="hidden" id="loading_image_src_location" value="{{ asset('bundles/loopitametalizadora/images/loading.gif') }}" />

{% endblock %}