{% extends 'MaithPumpMyGasBundle::layout.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">{% trans %}cars_update_entry{% endtrans %}</header>
      <div class="panel-body">
        <form action="{{ path('admin_pump_car_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} role="form">
		  <input type="hidden" name="_method" value="PUT" />  
          <div class="form-group">
			  {{ form_errors(edit_form.model) }}
              <label for="{{ edit_form.model.vars.id }}">{% trans %}cars_model{% endtrans %}</label>
			  {{ form_widget(edit_form.model, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(edit_form.year) }}
              <label for="{{ edit_form.year.vars.id }}">{% trans %}cars_year{% endtrans %}</label>
			  {{ form_widget(edit_form.year, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(edit_form.brand) }}
              <label for="{{ edit_form.brand.vars.id }}">{% trans %}cars_brand{% endtrans %}</label>
			  {{ form_widget(edit_form.brand, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">{% trans %}cars_save{% endtrans %}</button>
          </div>	
              {{ form_rest(edit_form) }}
          </form>

        </div>
      </section>
    </div>
    <div class="col-lg-8">
        <a href="{{ path('admin_pump_car') }}" class="btn btn-info">
		  {% trans %}cars_back_to_list{% endtrans %}
	  </a>
		<form action="{{ path('admin_pump_car_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirmDeleteDialog();" style="float: right;">
		  <input type="hidden" name="_method" value="DELETE" />
			{{ form_widget(delete_form) }}
		  <button class="btn btn-danger" type="submit">{% trans %}cars_delete{% endtrans %}</button>
		</form>
	</div>	
</div>
{% endblock %}
